/*
      1. #1a1e31
      2. #414968
      3. #12abb3
*/

body{
  background: #1a1e31;
  font-family: 'Overpass', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1{
  background: #12abb3;
  padding: 20px 0px 10px 0px;
  border-bottom: 3px solid #107a7f;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.texts-calendar{
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 53px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#calendar{
  z-index: 99;
  color: white;
  font-size: 18px;
  margin-top: 3px;
}

.container{
  margin: 0 auto;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  max-width: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

.little-container{
  position: relative;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px 80px;
  height: auto;
  box-sizing: border-box;
  background: #414968;
  min-width: 150px;
  min-height: 150px;
}

.calendar h1{
  background: #12abb3;
  padding: 20px 0px 10px 0px;
  border-bottom: 3px solid #107a7f;
  margin: 0px;
  position: absolute;
  top: 0;
}

.btc-boxin{
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: .3;
  transition: 0.3s;
  font-size: 16px;
  cursor: pointer;
}

.texts-calendar{
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 53px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer{
  position: fixed;
  bottom: 0;
  background: rgba(205,205,205,0.03);
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
  color: rgba(255,255,255,0.2);
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: 14px;
}
